name: On Push CI

on:
  push:
    branches:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      run: docker login -u ${{secrets.REGISTRY_USER}} -p ${{secrets.REGISTRY_PASS}}
    - name: Build the Docker image
      run: docker build -t sdf_first:suiteapp .
    - name: Add tag to push
      run : docker tag sdf_first:suiteapp akashc026/test_node:latest
    - name: Push Docker image
      run : docker push akashc026/test_node:latest



  validate_test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: akashc026/test_node:latest
      options: --user root
      credentials:
        username: ${{secrets.REGISTRY_USER}}
        password: ${{secrets.REGISTRY_PASS}}
    permissions: read-all|write-all
    env:
      REALM_TECHNICAL: ${{ secrets.REALM_TECHNICAL }}
      TOKEN_TECHNICAL: ${{ secrets.TOKEN_TECHNICAL }}
      SECRET_TECHNICAL: ${{ secrets.SECRET_TECHNICAL }}

    steps:
    - uses: actions/checkout@v3
    - name: Get all npm dependencies
      run : npm install
    - name: Unit Test (Jest)
      run : npm run test
    - name : install CLI
      run:  npm install -g --acceptSuiteCloudSDKLicense @oracle/suitecloud-cli
    - name: Validate Suiteapp
      run : npm run validate
